center{
    margin-top:100px;
    position: relative;
    font-size: 38px;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.section1{
    width:100%;
    height:400px;
    position: relative;
    align-items: center;
}
.des{
    color:white;
     padding-top: 50px;
    text-align: center;
    width: 700px;
    margin:auto;
    position: relative;
    
}
#findmore{
    height: 50px;
    width:150px;
    border-radius: 40px;
    background-color: rgba(245, 245, 245, 0.94);
}
.section2{
    position: relative;
    background-color:white;
    width: 100%;
    height: 400px;
}
.heading{
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif
}
.des1{
    margin-top: 30px !important;
   text-align: center;
   width: 900px;
   margin:auto;
   position: relative;
   line-height: 1.6em;
}
.section3{
    position: relative;
   background-image:url(http://wp4.tallythemesdemo.com/insurance-now-free/wp-content/uploads/sites/6/2017/09/15.jpg);
    width: 100%;
    height: 400px;
}